<!doctype html>
<html>
  <head>
    <title>Generative Art Sketches</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/lib/page.css" rel="stylesheet">
  </head>
  <body class="p-6 bg-white dark:bg-black text-black dark:text-white">
    <h1 class="text-3xl font-bold mb-4">
      Generative Art Sketches
    </h1>
    <ol class="ml-6">
      {{#sketches}}
        <li class="list-decimal"><a href="/art/sketches/{{name}}.html" class="hover:underline">{{name}}</a></li>
      {{/sketches}}
    </ol>
  </body>
</html>