<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/lib/build.css" rel="stylesheet">
  </head>
  <body>
    <h1 class="text-3xl font-bold underline">
      Sketches
    </h1>
    <ul>
      {{#sketches}}
        <li><a href="/sketches/{{name}}.html">{{name}}</a></li>
      {{/sketches}}
    </ul>
  </body>
</html>