<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/lib/page.css" rel="stylesheet">
    <title>{{name}}</title>
  </head>
  <body class="bg-white dark:bg-black text-black dark:text-white">
    <div class="flex flex-col h-screen">
      <div class="p-3 text-lg border-b-2 flex items-baseline" id="page-header">
        <a href="/" class="text-sm hover:underline">&#10554; back</a> <h1 class="inline-block font-bold flex-auto text-center">{{name}}</h1>
      </div>
      <iframe src="/sketches/_{{name}}.html" class="h-full"></iframe>
    </div>
  </body>
</html>