<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/lib/page.css" rel="stylesheet">
    <script src="/node_modules/p5/lib/p5.min.js"></script>
    <script async src="./{{name}}.js"></script>
  </head>
  <body class="flex">
    <div id="controls" class="bg-slate-950 text-slate-50 px-4 py-6 border-r-slate-700 border-r-2 w-1/6">
    </div>
    <template id="form-control">
      <div class="form-control">
        <label for=""></label>
      </div>
    </template>
  </body>
</html>