<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/lib/page.css" rel="stylesheet">
    <title>{{name}}</title>
    <script src="/node_modules/p5/lib/p5.min.js"></script>
    <script src="/node_modules/p5.js-svg/dist/p5.svg.js"></script>
    <script async src="./{{name}}.js"></script>
    <script></script>
  </head>
  <body>
    <div class="p-3">
      <a href="/">&lt; Back</a>
    </div>
  </body>
</html>