@tailwind base;
@tailwind utilities;

#controls input[type='range'] {
  width: 100%;
}

#controls input[type='range']::after {
  content: attr(data-value);
  display: inline;
  position: absolute;
  right: 0;
  top: 0;
}
